<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="center">Pokemon Catalogue</h1>
</nav>
<nav class="container navbar navbar-expand-lg navbar-light bg-light">
  <h4 routerLink="/trainer" class="center btn btn-outline-dark" role="button">MY PAGE</h4>
  <h4 role="button" class="center btn btn-outline-danger" (click)="logout()">LOG OUT</h4>
</nav>
<div class="container center mb-2">
  <app-catalogue-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-catalogue-item>
  <button class="btn btn-outline-dark" (click)="loadMore()">LOAD MORE</button>
</div>
