<li class="catalogue-item" (click)="selectPokemon(pokemon)">
  <h4>{{pokemon?.name}}</h4>
  <img class="catalogue-item__image" src="./assets/{{pokemon?.id}}.png" alt="{{pokemon?.name}}">
  <div *ngIf="pokemon!!.selected">
    <p>SELECTED</p>
    <img class="poke-ball" src="./assets/poke-ball.png" alt="Selected">
  </div>
</li>
